process {
  executor = 'local'
  cpus = 1
}

executor {
  queueSize = 4   // max parallel local tasks
}

profiles {

  local {
    process.executor = 'local'
  }

  slurm {
    process.executor = 'slurm'
    // add later:
    // process.account = 'your_account'
    // process.queue   = 'normal'
  }
}

trace {
  enabled = true
  file = 'trace.txt'
  overwrite = true
}

report {
  enabled = true
  file = 'report.html'
  overwrite = true
}

timeline {
  enabled = true
  file = 'timeline.html'
  overwrite = true
}
