process {
  executor = 'local'
  cpus = 1
}

executor {
  queueSize = 4   // max parallel local tasks
}

profiles {

  local {
    process.executor = 'local'
  }

  slurm {
    process.executor = 'slurm'
    // add later:
    // process.account = 'your_account'
    // process.queue   = 'normal'
  }
}

