profiles {
  tsd {
    process.executor='slurm'
    process.pollInterval='1 min'
    process.queueStatInterval='2 min'
    process.submitRateLimit = '10/1s'
    process.queueSize='10'
    process.maxForks=100
    process.clusterOptions='--job-name=dcm2nii --account=p33 --mem-per-cpu=7600MB --cpus-per-task=1 --time=1:00:00 --partition=normal'
    process.errorStrategy = 'ignore'  // 'finish'
  }
}

trace {
  enabled = true
  file = 'trace.txt'
  overwrite = true
}

report {
  enabled = true
  file = 'report.html'
  overwrite = true
}

timeline {
  enabled = true
  file = 'timeline.html'
  overwrite = true
}
